<h1>Financials</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/feedback">Ruby on Rails Tutorial</a>
  sample application.
</p>
<p>
  <%= UserTex.new(-1).create_pdf_file %>
</p>
<p>
  This is where I will place the button to create the PDF file for all of the users.
</p>
